<p>Welcome to Micro-Frontend!</p>

<div class="container">
<div>
  <div class="mb-2">
    <ng-container
      mfeOutlet="products"
      mfeOutletModule="CatalogModule"
      mfeOutletComponent="CatalogComponent"
      [mfeOutletInputs]="{ text: text }"
      [mfeOutletOutputs]="{ click: onClick }"
      [mfeOutletLoaderDelay]="1500"
      [mfeOutletLoader]="loaderTpl"
      [mfeOutletFallback]="fallbackTpl"
    >
    </ng-container>
  </div>
  <div class="mb-2">
    <ng-container
      mfeOutlet="products"
      mfeOutletModule="DashboardModule"
      mfeOutletComponent="DashboardComponent"
      [mfeOutletInputs]="{ text: text }"
      [mfeOutletLoaderDelay]="1500"
      [mfeOutletLoader]="loaderTpl"
      [mfeOutletFallback]="fallbackTpl"
    >
    </ng-container>
  </div>
</div>
</div>

<ng-template #loaderTpl>
  <div>loading...</div>
</ng-template>

<ng-template #fallbackTpl>
  <div>Ooops! Something went wrong</div>
</ng-template>
